[Unit]
Description=Lighthouse: Ethereum 2.0 Beacon Node
After=syslog.target network.target

[Service]
User={{ ansible_user }}
Type=simple
Environment="RUST_BACKTRACE={{ rust_backtrace }}"
ExecStart={{ lighthouse_bn_exec_start }}
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lighthouse-bn

[Install]
WantedBy=multi-user.target

