[Unit]
Description=Lighthouse: Ethereum 2.0 Validator Client
After=syslog.target network.target

[Service]
User={{ ansible_user }}
Type=simple
ExecStart={{ lighthouse_vc_exec_start }}
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lighthouse-vc

[Install]
WantedBy=multi-user.target

