[Unit]
Description=Geth Ethereum Client
After=syslog.target network.target

[Service]
User={{ ansible_user }}
Type=simple
ExecStart=/usr/bin/geth --goerli --unlock 0x{{ wallet.stdout }} --password {{ geth_unlock_password_file }}
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=geth

[Install]
WantedBy=multi-user.target

